# متغيرات البيئة (لا تقم برفع هذا الملف أبداً)
.env

# البيئات الافتراضية
venv/
venv_proj/

# ملفات بايثون المؤقتة
__pycache__/
*.pyc

# قاعدة بيانات SQLite
app.db

# مجلد الملفات المرفوعة (اختياري، لكن يوصى به)
uploads/
